/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
} */
/* .logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
} */
/* .logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */
/* .card {
  padding: 2em;
} */
/* .read-the-docs {
  color: #888;
} */


/* Bob Ziroll styles */

* {
  box-sizing: border-box;
}

body {
  display: flex;
  margin: 0;
  justify-content: center;
  font-family: Inter, sans-serif;
  /* height: 100vh; */
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  background-color: #23252C;
  /* border: solid 1px red; */
}

/* Navbar component */

.nav--container {
  display: flex;
  align-items: center;
  background-color: #21222A;
  height: 90px;
  padding: 30px 25px;
  position: relative;
  z-index: 2;
  /* border: solid 1px rgb(255, 204, 0); */
}
.nav--logo_text, .nav--title {
  margin: 0;
}
.nav--logo_text {
  margin-right: auto;
  color: #61DAFB;
  font-weight: 700;
  font-size: 22px;
}
.nav--title {
  color: #DEEBF8;
  font-weight: 600;
}
.nav--icon {
  height: 30px;
  margin-right: 7px;
}

/* Main component */

.main--card {
  padding: 57px 27px;
  color: white;
  background-color: #282D35;
  position: relative;
  z-index: 2;
  /* border: solid 1px rgb(94, 255, 0); */
}
.main--card {
  margin: 0 auto;
}
.main--title {
  margin: 0;
  font-size: 39px;
  letter-spacing: -0.05em;
}
.main--facts {
  margin-top: 46px;
  max-width: 400px;
  max-width: 80%;
}
.main--facts > li {
  line-height: 19px;
  padding-block: 10px;
}
.main--facts > li::marker {
  color: #61DAFB;
  font-size: 1.5em;
}